body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.shoes_image {
    background-image: url("pearls.png");
    background-color: white;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.shoes_image_text{
    /* text-align: center; */
    position: absolute;
    top: 40%;
    left: 34%;
    transform: translate(-50%, -50%);
   
  }
.shoes_image_text > h1{
    font-weight: 900;
    line-height: 1.04;
    margin-bottom: 0.40em;
    font-size: 3.6058rem;
    max-width: 7.6em;
}
.shoes_image_text > p{
    max-width: 21em;
    font-size: 1rem;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px;
    margin-top: 20px;
}
.shoes_image_text > button{
    font-size: 0.9375rem;
    color: #FFF;
    background-color: #0066EE;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    line-height: 1.75;
    max-width: 300px;
    
    padding: 12px 68px;
    font-weight: 700;
}
.shoes_image_text_login_text > p{
    font-size: 1rem;
    line-height: 1.88em;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    font-weight: 400;
}
.pearls_image {
  
    background-image: url("shoes.png");
    background-color: white;
    height: 300px;
    /* width: 1200px; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}