body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.add_exercises{
    margin-top: 100px;
    margin-left: 100px;
}
.add_exercises > h2{
    margin: 17px 0 20px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #0a5282;
    font-weight: bold;
}
.add_exercises > h3{
    font-size: 16px;
    font-weight: bold;
}
.line{
    margin-top: 10px ;
    margin-right: 500px;
    border-bottom: 3px solid #e6e6e6;
    margin-bottom: 10px;
}
#exercise_input{
    border: none;
    border-bottom: 2px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    color: #555;
    margin: 3px 0;
    padding: 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    width: 440px;
    box-shadow: inset 0px 5px 10px 1px #d4d3d3;;
}
.search_exercise_button{
    font-size: 13px;
   
    border: 1px solid #408140;
    border-radius: 5px;
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: capitalize;
    background-color: #51a351;
    margin-left: 50px;
   
}
.add_exercise_button{
    height: 20px;
    width: 80px;
    font-size: 13px;
    border: 1px solid #408140;
    border-radius: 5px;
    padding: 10px 20px 30px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #51a351;
    margin-left: 65px;
   
}
.sort{
    margin-top: 50px;
    display: flex;
    color: #222222;
    font-size: 12px;
    margin-left: 700px;

}
.exerxise_show_div{
    margin-top: 20px;
    font-size: 12px;
    background: #f6f6f6;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    text-align: left;
    width: 1000px;
    padding: 20px;
    letter-spacing: 1.5px;
    line-height: 24px;
}
#exercise{
    margin-top: 20px;
    color: green;
    font-size: 14px;
    font-weight: bold;
}
#adding{
    width: fit-content;
    background: #f6f6f6;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-top : 20px;
}
#adding > p , div >p{
    color: #222222;
    font-size: 14px;
    
}
#adding > div > input{
    box-shadow: inset 0px 5px 10px 1px #d4d3d3;;
    height: 20px;
    width: 100px;
    border-bottom: 2px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
