body{
   padding: 0;
   margin: 0;
   background-color: rgb(250, 244, 244); 
}


.container{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-weight: bold;
    
   
}

.header_1{
    width: 100%;
    height: 35px;
    border: 1px solid black;
    display: flex;
    margin-top: 5px;
    background-color: silver;
}


.header_1 img{
    width: 25px;
}

.header_1 a{
    text-decoration: none;
    color: blue;
    width: 200px;
    height: 25px;
    border-right: 1px solid black;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.097);
 
}
.header_1 a:nth-child(1){
    font-weight: bold;
}

/* ------------------------- */

.header_2 {
    width: 50%;
    margin: auto;
    display: flex;
    /* justify-content: baseline; */
    align-items: baseline;
    justify-content: space-between;
}
.header_2 h1{
    color: rgb(18, 18, 214);
}

.header_2 a{
    font-size: 20px;
    padding-top: -20px;  
    margin-left: 25px;
    text-decoration: none;
    color: blue;
}
.header_2 img {
    width: 35px;
    margin-right: 15px;
    color: blue;
    
}

/* ----------------------- */

.header_3{
    width: 100%;
    height: 40px;
    
    background-color: blue;
}
.header_3 ul{
    display: flex;
    list-style: none;
    align-items: baseline;
    margin: auto;
    text-align: center;
    justify-content: center;
}



.header_3 ul li{
    margin-left: 70px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    
}
.header_3 ul li:nth-child(1){
    margin-left: 0;
}
/* ------------------------------------- */

.member_login {
    width: 18%;
    /* border: 1px solid black; */
    padding-left: 25px;
    margin-left: -105px;
    margin: 10px auto;

}
form{
    margin: 0px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.556);
    box-shadow: 5px 5px 10px silver;
    padding-left: 25px;
    border-radius: 10px;
    margin: 20px auto;

}

form h3{
    font-size: 25px;
}
form label{
    font-size: 20px;
}
form input{
    width: 90%;
    height: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: silver;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(145deg, #9db0bbb6, #bad2df6b);
    box-shadow:  20px 20px 60px #94a7b136;
             /* -20px -20px 60px #c8e1ef; */
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

form input:focus{
    border: none;
}

form .Checkbox{
    margin: 0;
    margin: 0;
    display: flex;
    margin: 0;
    justify-content: baseline;
}

.Checkbox input{
    width: 15px;
}

.Checkbox p{
 margin-left: 5px;
 margin-top: 15px;
}

button{
    width: 92%;
    height: 40px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.underline {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-right: 25px;
}

.underline div{
    width: 150px;
    height: 1px;
    background-color: black;
}

.bottom_button{
    align-items: baseline;
    justify-content: baseline;
    margin-bottom: 8px;
    font-size: 15px;
    background-color: none;
    border: none;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 81, 255, 0.85);
    margin-bottom: 15px;
    cursor: pointer;
    

}
/* .bottom_button img{
    margin: auto;
    width: 25px;
    float: left;
     padding-left: 105px; 
 }  */


 .authentication a{
     font-size: 12px;
     text-decoration: none;
     
 }

 /* ---------------------------- */

 .bottom{
     width: 100%;
     height: 150px;
     background-color: rgba(167, 160, 147, 0.652);
     display: flex;
 }

 .bottom small{
     font-weight: bold;
 }
 .about{
     
     margin: auto;
    text-align: center;
     
 }

 .about a{
     margin-left: 20px;
     font-size: 15px;
     text-decoration: none;
     font-weight: bold;
 }

 select{
     width: 130px;
     height: 25px;
     margin-top: 20px;
     margin-right: 15px;
     font-family: 'Montserrat', sans-serif;
    
 }










