


.container{
    width: 100%;
    /* font-family: 'Montserrat', sans-serif; */
    /* height: 100vh; */
    font-weight: bold;
    
   
}
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    margin: 0px;
}

            /* top_nav_bar */


.top_nav_bar{
    display: flex;
    padding-left: 10px;
    background-color: #f0f0f0;
    border: 1px solid silver;
}   
.top_nav_bar_contents{
    border: 1px solid rgb(212, 209, 209);
}
.top_nav_bar_contents  > a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #222;
    text-decoration: none;
    display: flex;
    padding: 0px 10px 0px 10px ;

}
.top_nav_bar_contents > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #222;
    text-decoration: none;
    display: flex;
    padding: 0px 10px 0px 10px ;
}

             /* logo_header */
.header_wrap{
    width:90%;
    margin-left: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}
#logo{
    width: 229px;
    position: relative;
   margin-left: 150px;
    margin-right: 280px;
}
   
.header_content > a:hover{
    color: orange;
    cursor: pointer;
    text-decoration: none;
} 
.header_content{
    margin-right: 200px;

}
.header_content > a{
    font-size: 14px;
    color: #0072BC;
    padding-left:10px ;
    padding-right: 10px;
    font-weight: 400;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    text-decoration: none;
}

              /* Blue_header_navigation_bar */

.header__navigation_bar{
    width: 100%;
    background-color: #0072BF;
    /* margin-top: 15px; */
    min-height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header__navigation_bar > a{
    text-decoration: none;
    line-height: 45px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF ;
    padding: 0 35px;
    display: block;
}


                   /* blue_navigation_sub_bar */


.header__navggation_sub_bar{
    min-height: 45px;
    width: 100%;
    background-color: #00548F;
    display: flex;
}
.header__navggation_sub_bar > a{
    color: #e6e6e6;
    display: block;
    font-weight: normal;
    padding: 0px 12px;
    text-decoration: none;
    line-height: 45px;
    font-size: 13px;
}

/* ------------------------------------- */

.member_login {
    width: 20%;
    /* border: 1px solid black; */
    padding-left: 25px;
    margin-left: -105px;
    margin: 10px auto;

}
form{
    margin: 0px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.556);
    box-shadow: 5px 5px 10px silver;
    padding-left: 25px;
    border-radius: 10px;
    margin: 20px auto;

}

form h3{
    font-size: 25px;
}
form label{
    font-size: 20px;
}
form input{
    width: 90%;
    height: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: silver;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(145deg, #9db0bbb6, #bad2df6b);
    box-shadow:  20px 20px 60px #94a7b136;
             /* -20px -20px 60px #c8e1ef; */
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

form input:focus{
    border: none;
}

form .Checkbox{
    margin: 0;
    margin: 0;
    display: flex;
    margin: 0;
    justify-content: baseline;
}

.Checkbox input{
    width: 15px;
}

.Checkbox p{
 margin-left: 5px;
 margin-top: 15px;
}

button{
    width: 92%;
    height: 40px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.underline {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-right: 25px;
}

.underline div{
    width: 150px;
    height: 1px;
    background-color: black;
}

.bottom_button{
    align-items: baseline;
    justify-content: baseline;
    margin-bottom: 8px;
    font-size: 15px;
    background-color: none;
    border: none;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 81, 255, 0.85);
    margin-bottom: 15px;
    cursor: pointer;
    

}
/* .bottom_button img{
    margin: auto;
    width: 25px;
    float: left;
     padding-left: 105px; 
 }  */


 .authentication a{
     font-size: 12px;
     text-decoration: none;
     
 }

 /* ---------------------------- */

 .bottom{
     width: 100%;
     height: 150px;
     background-color: rgba(167, 160, 147, 0.652);
     display: flex;
 }

 .bottom small{
     font-weight: bold;
 }
 .about{
     
     margin: auto;
    text-align: center;
     
 }

 .about a{
     margin-left: 20px;
     font-size: 15px;
     text-decoration: none;
     font-weight: bold;
 }

 select{
     width: 130px;
     height: 25px;
     margin-top: 20px;
     margin-right: 15px;
     font-family: 'Montserrat', sans-serif;
    
 }










