*{
    font-family: Arial, Helvetica, sans-serif;
}

            /* top_nav_bar */

body{
    margin: 0;
    padding: 0;
}
.top_nav_bar{
    display: flex;
    padding-left: 10px;
    background-color: #f0f0f0;
    border: 1px solid silver;
}   
.top_nav_bar_contents{
    border: 1px solid rgb(212, 209, 209);
}
.top_nav_bar_contents a, p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #222;
    text-decoration: none;
    display: flex;
    padding: 0px 10px 0px 10px ;
}

             /* logo_header */
.header_wrap{
    width: 950px;
    margin-left: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#logo{
    width: 229px;
    position: relative;
   margin-left: 400px;
    margin-right: 280px;
}
    
a, a:link, a:visited {
    color: #0072BC;
    cursor: pointer;
    text-decoration: none;
}
.header_wrap_content{
    display: flex;
    font-size: 12px;
    text-align: center;
}


.header_wrap_content > a{
    margin-top: 10px;
   margin-left: 20px;
}
.icons {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}
.message{
    height: 20px;
    width: 20px;
    padding-top: 5px;
}
.header_wrap_content img{
    height: 100%;
    width: 100%;
}
.header_content{
   display: flex;
   
}
.header_wrap_content div , a , p{
    margin-right:10px ;
}

              /* Blue_header_navigation_bar */

.header__navigation_bar{
    width: 100%;
    background-color: #0072BF;
    /* margin-top: 15px; */
    min-height: 45px;
    display: flex;
    justify-content: center;
}

.header__navigation_bar > a{
    text-decoration: none;
    line-height: 45px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF ;
    padding: 0 21px;
    display: block;
}


                   /* blue_navigation_sub_bar */




.header__navggation_sub_bar{
    min-height: 45px;
    width: 100%;
    background-color: #00548F;
    display: flex;
}
.header__navggation_sub_bar > a{
    color: #e6e6e6;
    display: block;
    font-weight: normal;
    padding: 0px 12px;
    text-decoration: none;
    line-height: 45px;
    font-size: 13px;
}


                   /* Report section */

    .report_section{
        width: 55%;
        margin-left:15%;
        margin-top: 100px;
        line-height: 1.5em;
    }

    .main .underline{
        width: 100%;
        height: 2px;
        background-color: rgba(0, 0, 255, 0.385);
        box-shadow: 2px 2px 10px blue;
    }
    
  
    
    .choose{
        display: flex;
        font-size: 16px;
        font-weight: bold;
        color: #0b5680;
        align-items:center;
        position: relative;
    }
 
    .export_button{
        font-size: 13px;
        border: 1px solid #408140;
        border-radius: 5px;
        padding: 8px 25px;
        text-align: center;
        cursor: pointer;
        color: #FFFFFF;
        background-color: #51a351;
        background-image: linear-gradient(to bottom, #62c462 26%, #51a351 75%);
        position:absolute;
        right: 0;
    }
  #options{
    color: #222;
    line-height: 1.5em;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    font-size: 13px;
    width: 210px;
    height: 25px;
    margin-left: 10px;
  }
    .Report_Period > p{
        font-size: 16px;
        font-weight: bold;
        color: #0b5680;
        padding: 0;
    }

    .Report_Period a{
        font-size: 14px;
    }
    .Report_Period a:nth-child(1){
        color: orangered;
    }
    .Report_Period a:hover{
        color: orangered;
    }
    
    /*  */


.footer{
    background-color: #f0eeee;
    padding: 50px;
    margin-top: 100px;
}
.footer_upper_content{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.footer_upper_content > a{
    color: #0072BC;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
.footer_lower_content{
    text-align: center;
    margin-top: 10px;
}
.footer_lower_content > a{
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: black;
}


