body{
    margin: 0;
}

.exercise{
    margin-left: 200px;
    margin-top: 100px;
    position: relative;
}


.food_firstDiv{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 3px 0 7px;
}
.food_firstDiv > h1 {
    margin-top: 20px;
    color: #0B5680;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}
.button_prev{
    background-color:  #00548F;
    border-radius: 4px;
}
.food_firstDiv > button_prev img{
    width: 100%;
    height: 100%;
}
.food__firstDiv__date{
    background: #00548F;
    color: #FFFFFF;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    margin: 0 2px 0 2px;
    padding: 17px 55px 2px 55px;
    position: relative;
    border-radius: 5px;
}
.td_first{
    width: 50%;
    color: #00548F;
    font-size: 18px;
    font-weight: bold;
   
    text-align: left;
    padding: 15px 0 10px 0;
    
}
.td_first_column{
    background: #00548F;
    color: #fff;
    padding: 0px 60px 0px 60px;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
.td_second_column{
    background: #00548F;
    color: #fff;
    padding: 0px 40px 0px 40px;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
.bottom_td{
    font-size: 13px;
    color: #0072BF;
    padding-left: 9px;
    padding-right: 9px;
    border-right: solid 1px #0f73ab;
    margin-right: 7px;
    padding-top: 10px;
    font-weight: bold;
}
.line{
     margin-top: 10px ;
     margin-right: 500px;
    
     border-bottom: 3px solid #e6e6e6;
     margin-bottom: 10px;
}
.total_value{
    display: flex;
    border-right: 1px solid#e6e6e6;
    border-bottom: 1px solid#e6e6e6;;
    padding: 0px 15px;
    margin: 2px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    
}
.table_total{
    margin: 30px 150px ;
}
.total_text{
    border-right: 1px solid#e6e6e6;
    border-bottom: 1px solid#e6e6e6;;
     padding: 0px 75px;
     margin: 2px;
     font-size: 14px;
     font-weight: bold;
 }
 .complete_entry_button{
    font-size: 13px;
    display: inline-block;
    border: 1px solid #408140;
    border-radius: 5px;
    padding: 8px 25px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: capitalize;
    background-color: #51a351;
    margin-left: 300px;
    margin-top: 30px;
}
#main_calender{
    position: absolute;
    left: 37%;
    top: -1%;
    z-index: 1;
}
.exercise_info_table{
    margin-left: 0px;
}
.exercise_info_td{
    padding: 0px 350px 20px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.exercise_info_first_td{
    width: 40px;
    padding: 0px 20px 20px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
}
.exercise_info_second_td{
    padding: 0px 0px 20px 120px;
    width: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
}
