*{
    font-family: Arial, Helvetica, sans-serif;
}

            /* top_nav_bar */

body{
    margin: 0;
}
.top_nav_bar{
    display: flex;
    padding-left: 10px;
    background-color: #f0f0f0;
    border: 1px solid silver;
}   
.top_nav_bar_contents{
    border: 1px solid rgb(212, 209, 209);
}
.top_nav_bar_contents a, p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #222;
    text-decoration: none;
    display: flex;
    padding: 0px 10px 0px 10px ;
}

             /* logo_header */
.header_wrap{
    width: 950px;
    margin-left: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#logo{
    width: 229px;
    position: relative;
   margin-left: 400px;
    margin-right: 280px;
}
    
a, a:link, a:visited {
    color: #0072BC;
    cursor: pointer;
    text-decoration: none;
}
.header_wrap_content{
    display: flex;
    font-size: 12px;
    text-align: center;
}


.header_wrap_content > a{
    margin-top: 10px;
   margin-left: 20px;
}
.icons {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}
.message{
    height: 20px;
    width: 20px;
    padding-top: 5px;
}
.header_wrap_content img{
    height: 100%;
    width: 100%;
}
.header_content{
   display: flex;
   
}
.header_wrap_content div , a , p{
    margin-right:10px ;
}

              /* Blue_header_navigation_bar */

.header__navigation_bar{
    width: 100%;
    background-color: #0072BF;
    /* margin-top: 15px; */
    min-height: 45px;
    display: flex;
    justify-content: center;
}

.header__navigation_bar > a{
    text-decoration: none;
    line-height: 45px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF ;
    padding: 0 21px;
    display: block;
}


                   /* blue_navigation_sub_bar */


.header__navggation_sub_bar{
    min-height: 45px;
    width: 100%;
    background-color: #00548F;
    display: flex;
}


.header__navggation_sub_bar > a{
    color: #e6e6e6;
    display: block;
    font-weight: normal;
    padding: 0px 12px;
    text-decoration: none;
    line-height: 45px;
    font-size: 13px;
}



/* My Home Page -Pranit Jogwe */
.myhome{
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    margin-top: 100px;

}


    .myhome__left{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width:65%;
    }
        /* Part -1 Daily Summary */
        .myhome__left_dailySummary header{
            display: table;
            min-height: 36px;
            width: 100%;
            height: 40px;
            background-color: rgb(10,82,130);
            color: rgb(216,255,255);
        }

        .myhome__left_dailySummary header>div{
            display: table-row;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
        }

        .myhome__left_dailySummary header  h3{
            display: table-cell;
            padding-left: 15px;
            padding-right: 20px;
            vertical-align: middle;
            font-weight: 100;
        }

        #daywise__dynamic-streak{
            text-align: right;
            margin-right: 20px;
            margin: 5px;
        }
        #daywise__dynamic-streak div{
            text-align: left;
            display: inline-block;
        }

        .myhome__left_dailySummary_content{
            display: flex;
            gap: 15px;
            background-color: rgb(246,246,246);
            padding:15px;
        }

        .myhome__left_dailySummary_content--left-photo{
            width: 120px;
            height: 120px;
            background-color: rgb(230,230,230);
            padding-top: 10px;
            text-align: center;
        }

        .myhome__left_dailySummary_content--right{
            width: 70%;
        }
        .myhome__left_dailySummary_content--right-btnUpdate{
            display: flex;
            width: 100%;
        }

        .myhome__left_dailySummary_content--right-btnUpdate a{
            width: auto;
            line-height: 1.5em;
            text-decoration: none;
            font-size: 13px;
            display: inline-block;
            border: 1px solid #d2d2d2;
            border-radius: 5px;
            padding: 8px 25px;
            text-align: center;
            cursor: pointer;
            color: #666666;
            background-color: #ebebeb;
            margin-left: 20px;
            margin-right: 0;
            box-sizing: border-box;
        }
        

        /* Calory Value Calculation */
        .calculation-table{
            width: 100%;
        }

        .calculation-table th{
            font-weight: 300;
        }
        
        /* Part -2 Email Verification */

        .myhome__left_verifyEmail{
            display: flex;
            width: 95%;
            gap: 20px;
            padding: 2.5%;
            background-color: rgb(255,252,248);
            border: 1px solid rgb(252,218,176);
        }

        #envelope-icon{
            font-size: 60px;
            margin: 0;
            flex-grow: 1;
        }

        .myhome__left_verifyEmail--Content{
            flex-grow: 4;
            margin:0;
            padding: 0;
        }

        .myhome__left_verifyEmail--link{
            flex-grow: 1;
        }

        .myhome__left_verifyEmail--link button{
            color: rgb(255,246,238);
            height: 40px;
            width: 70%;
            margin:auto;
            font-weight: 300;
            border: none;
            background-color: rgb(0,112,191);
        }
        .myhome__left_verifyEmail--Content h3, .myhome__left_verifyEmail--Content p{
            padding: 0;
            margin-top: 0;
        }
        
        .myhome__left_verifyEmail--link p{
            text-align: center;
        }

        

        /* Part -3 News Feed */

        .myhome__left_newsfeed header{
            height: 40px;
            width: 100%;
            position: relative;
            color: rgb(255,255,255);
            background-color: rgb(10,82,130);
        }
        .myhome__left_newsfeed--content{
            display: flex;
            gap: 20px;
            padding: 20px;
            background-color: rgb(246,246,246)
        }

        .myhome__left_newsfeed--content textarea{
            flex-basis: 90%;
            height: 45px;
        }

        .myhome__left_newsfeed--content button{
            flex-basis: 100px;
            height: 40px;
            margin: 0;
            color: rgb(255,255,255);
            background-color: rgb(0,112,191);
            border: none;
            
        }

        .myhome__left_dailySummary_content--right-btnUpdate{
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }

        .myhome__left_dailySummary_content--right-btnUpdate button{
            height: 30px;
            width: 150px;

        }


        /* My home Blog -- Pranit Jogwe */
        .myhome__blog{
            width: 100%;
            border: 1px solid #F2F2F2;
            margin-top:20px;

        }
      

        .blog__content{
            display: flex;
            flex-direction: column;
            width:100%;
            margin-left: 10px;
        }

        /* .myhome__blog_photo> img{
            height: 60px;
            width: 60px;
            position: relative;
            left:-70px;
            box-sizing: border-box;
        } */

        .blog__content_heading{
            display: flex;
            width: 90%;
            margin: 10px;
            align-items: center;
            

        }
        .blog__content_like{
            display: flex;
            margin: 10px;
            gap: 5px;

        }

        .write__comment{
            display: flex;
            background-color:rgb(246,246,246);
            padding-top: 10px;
            padding-bottom: 10px;
        }


        /* left bottom start*/
        .myblog__emaillink{
            width: 100%;
            border: 1px solid #F2F2F2;
            margin-top:20px;
            height: 150px;

        }



    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        border: 1px solid black;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
    }

    .modal-content__grid1{
        display: grid;  
        grid-template-columns: 90% 10%;
        grid-template-rows: 50px;
        align-items: center;
        background-color:rgb(0,114,188);
        color: rgb(255,233,229); 
    }

    .modal-content__grid2{
        display: grid;
        grid-template-columns:90% 10%;
        grid-template-rows: repeat(5, 50px);
        padding: 5px 0;
    }

    .modal-content__grid2 p {
        font-size: 18px;
        margin: 0;
    }

    .modal-content__grid2 span{
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .modal-content__grid2 hr{
        width: 100%;
        margin-left: 10px;
        background-color: rgbargb(255,255,255)
    }

    #myhome-link p:hover, #myhome-link :hover {
        color:  #0072BC;
    }

    /* .modal-content__grid2-remain  p:hover{
        color:  #0072BC;
    } */

    

    
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


/* Right side */

.myhome__right{
    width: 32%;
    margin:0;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    /* complete right div */
    .myhome__right-complete{
        width: 100%;
        
    }

    /*part-1 Img */

    .myhome__right-complete_lic{
        width: 100%;
        height: 250px;
    }

    /* part -2 Recent Forum Topics */

    .recent-forum-topics{
        width: 100%;
        background-color: rgb(241,242,242);


    }
    /* Part-3 Empty box */
    
    .myhome__right-complete_empty{
        width: 100%;
        height: 250px;
        background-color: rgb(241,242,242);
        margin:30px 0;
    }

    /* Part - 4 Bottom */

    .myhome__right-complete_bottom {
        background-color: rgb(241,242,242);
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .myhome__right-complete_bottom > div{
        color: #0072BC;
        font-size: 12px;
    }

    .myhome__right-complete_bottom p{
        padding: 0;
        margin: 0;
        margin-bottom: 3px;
    }


/* Footer */

.footer{
    background-color: #f0eeee;
    padding: 50px;
    margin-top: 100px;
}
.footer_upper_content{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.footer_upper_content > a{
    color: #0072BC;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
.footer_lower_content{
    text-align: center;
    margin-top: 10px;
}
.footer_lower_content > a{
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: black;
}
