.profile_container > h2{
    margin-top: 50px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #0a5282;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bolder;
    margin-left: 100px;
    margin-right: 700px;
    /* margin: 17px 0 20px; */
}
.profile_container{
    margin-top: 100px;
    
}
.profile_info_container{
    width: 720px;
    margin-left: 100px;
    background: #eeeded;
    padding: 28px 0 22px 0px;
    display: flex;
}
.profile_info{
    margin-left: 200px;
}
.profile_info > h3{
    margin: 3px 0 0 0;
    padding: 0 0 5px 0;
    color: #0f73ab;
    font-size: 16px;
    margin-bottom :10px ;
}
.profile_info > h5{
    font-size: 16px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 5px 0;
    color: #0a5282;
    margin-bottom :10px ;
}
.edit_profile_button{
    font-size: 13px;
    border: 1px solid #408140;
    border-radius: 5px;
    padding: 8px 25px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #51a351;
    background-image: linear-gradient(to bottom, #62c462 26%, #51a351 75%);
    margin-top: 30px;
}
.lower_profile_section{
    margin-top: 100px;
    margin-left: 100px;
}
.lower_profile_section > h3{
    color: #0a5282;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 6px;
}
.lower_profile_section >p{
    font-style: italic;
}
.lower_profile_my_progress{
    margin-left: 250px;
    margin-top: 100px;
}
.lower_profile_my_progress > h3{
    color: #0a5282;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 6px;
}
.news_feed{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 82, 130);
    border-radius: 5px;
}
.share_feed{
    background-color: rgb(246, 246, 246);
    padding: 1.2em;
}
.share_feed > textarea{
    padding-top: 10px;
    padding-left: 10px;
}
.share_feed button{
    font-size: 0.9375rem;
    color: #FFF;
    background-color: #0066EE;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    line-height: 1.75;
    min-width: 64px;
    padding: 5px 20px;
    font-weight: 700;
    margin-left: 20px;
}
a:hover{
    color: orange;
}